# conda create -n v2x python=3.9.17
# pip install torch==1.12.1+cu116 torchvision==0.13.1+cu116 torchaudio==0.12.1 --extra-index-url https://download.pytorch.org/whl/cu116
# torch==1.12.1+cu116
# torchvision==0.13.1+cu116
# torchaudio==0.12.1
tqdm
rich
ninja
numpy
# pytorch_lightning
pandas
scipy
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg
omegaconf
einops
whisper
plyfile
pygltflib
# for gui
dearpygui
# for stable-diffusion
huggingface_hub
diffusers
accelerate
transformers
# for dmtet and mesh export
xatlas
trimesh
PyMCubes
pymeshlab
rembg[gpu,cli]
# gradio demo
gradio

# install manually

# git+https://github.com/NVlabs/nvdiffrast/
# git+https://github.com/ashawkey/kiuikit
# git+https://github.com/bytedance/MVDream
# git+https://github.com/bytedance/ImageDream/#subdirectory=extern/ImageDream
# git+https://github.com/MaureenZOU/detectron2-xyz.git

